.badge {
  background-color: tomato;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
}

.badge--sm {
  background-color: tomato;
  width: 5px;
  height: 5px;
  border-radius: 2.5px;
  display: block;
  position: absolute;
  top: -10px;
  right: -8px;
}
