#no-mobile {
  position: absolute;
  top: 0;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  background-color: var(--yellow);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 28px;
}

#no-mobile span:last-child {
  margin-top: 15px;
}

@media screen and (max-width: 645px) {
  #no-mobile {
    display: none;
  }
}
